.channelInformation {
  display: flex;
  align-items: center;

  .channelText {
    font-size: 14px;

    .channelName {
      margin: 0;
      font-size: 36px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 4px;
    }

    .channelStats {
      .channelHandle {
        font-weight: 600;
      }
    }

    .channelDescriptionWrapper {
      display: flex;
      align-items: center;
    }

    .channelDescription {
      display: inline-block;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .moreInfo {
      cursor: pointer;
    }

    .channelLinks {
      color: #065fd4;
      text-decoration: none;
    }

    .subscribeButton {
      width: 56px;
      height: 36px;
      margin: 12px 0 8px;
      background-color: #0f0f0f;
      color: white;
      border-radius: 18px;
    }
  }
}

.nameSkeleton {
  width: 250px;
  height: 50px;
  margin-bottom: 4px;
}

.channelStatsSkeleton {
  width: 300px;
  height: 20px;
  margin-bottom: 8px;
}

.channelDescriptionSkeleton {
  width: 320px;
  height: 20px;
  margin-bottom: 4px;
}

.channelLinksSkeleton {
  width: 150px;
  height: 18px;
  margin-bottom: 12px;
}

.subscribeButtonSkeleton {
  width: 56px;
  height: 36px;
}

.skeleton {
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}
@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
