.channelInformation {
  display: flex;
  align-items: center;

  .channelText {
    font-size: 14px;

    .channelName {
      margin: 0;
      font-size: 36px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 4px;
    }

    .channelStats {
      .channelHandle {
        font-weight: 600;
      }
    }

    .channelDescriptionWrapper {
      display: flex;
      align-items: center;
    }

    .channelDescription {
      display: inline-block;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .moreInfo {
      cursor: pointer;
    }

    .channelLinks {
      color: #065fd4;
      text-decoration: none;
    }

    .subscribeButton {
      width: 56px;
      height: 36px;
      margin: 12px 0 8px;
      background-color: #0f0f0f;
      color: white;
      border-radius: 18px;
    }
  }
}
